.services {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgb(109, 107, 107);
    grid-column-gap:20px;
    grid-row-gap:20px;
    border :3px solid rgb(5, 5, 6);
    padding: 15px;
    border-radius: 10px;
}
h2{
    text-align: center;
    padding:20px;
}

/* For RESPONSIVE--small device-single colum */
@media only screen and (max-width:576px){
    .services {grid-template-columns: repeat(1,1fr);

}
}

/* For RESPONSIVE--small device-Diuble colum */
@media only screen and (min-width:577px)and ( max-width:992px){
    .services {grid-template-columns: repeat(2,1fr);

}
}