.service img{
    width: 230px;
    height: 200px;
}
.service {
    background-color: hsl(3, 88%, 50%);
    box-shadow: 0 4px 8px 0 rgb(20, 141, 223);
    border-radius: 20px;
    padding: 20px; 
    margin: 10px;
    text-align: center;
    }

    .btn-btn-primary{
        color:rgb(12, 46, 240);
    }